.p-cast {
    h2 {
        text-align: center;
        padding-top: 60px;
        padding-bottom: 134px;
        font-size: 4.3rem;
        color: #301F1B;
        font-family: 'Hind', sans-serif;
    }
    &__list {
        background-color: rgba(255, 255, 255, 0.9);
        ul {
            margin: 0 auto;
            transform: translateY(-100px);
            display: flex;
            flex-direction: column;
            padding-left: 0;
            @include break($pc) {
                max-width: 810px;
                flex-direction: row;
                justify-content: space-between;
            }
            li {
                list-style: none;
                text-align: center;
                padding-bottom: 30px;
                @include break($pc) {
                    width: 30%;
                    padding-bottom: 0;
                }
                img {
                    margin: 0 auto;
                }
                h3 {
                    text-align: center;
                    padding-top: 38px;
                    font-size: 1.6rem;
                    color: #333333;
                    font-weight: normal;
                }
                h2 {
                    text-align: center;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    font-size: 1.8rem;
                    color: #333333;
                    font-weight: bold;
                }
                p {
                    text-align: center;
                    font-size: 1.2rem;
                    color: #333333;
                    line-height: 1.75;
                }
            }
        }
        p.p-cast__list__description {
            padding-top: 15px;
            text-align: left;
        }
    }
    &__button {
        text-align: center;
        transform: translateY(-50px);
    }
    &__casts {
        padding-top: 60px;
        padding-bottom: 25px;
        ;
        &__wrap {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 30px;
        }
    }
    &__lineup {
        background-color: rgba(255, 255, 255, 0.9);
        &__wrap {
            padding-top: 80px;
            padding-bottom: 60px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 30px;
            .p-cast__list__cast {
                h3 {
                    text-align: center;
                    padding-top: 38px;
                    font-size: 1.6rem;
                    color: #333333;
                    font-weight: normal;
                }
                h2 {
                    text-align: center;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    font-size: 1.8rem;
                    color: #333333;
                    font-weight: bold;
                }
                p {
                    text-align: center;
                    font-size: 1.2rem;
                    color: #333333;
                    line-height: 1.75;
                }
            }
        }
    }
}